<div class="box">
  <div class="login">
    <div class="loginBx">
      <h2>Forgot Password</h2>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <div *ngIf="forgotForm.get('email')?.hasError('required')">
          Email is required
        </div>
        <div *ngIf="forgotForm.get('email')?.hasError('email')">
          Invalid email format
        </div>
        <input type="submit" value="Reset" />
      </form>

      <div *ngIf="showResetForm">
        <app-reset-password [email]="email"
                            [token]="token">
        </app-reset-password>
      </div>
    </div>
  </div>
</div>
