<form [formGroup]="resetForm" (ngSubmit)="onReset()">
  <div class="password-container">
    <input [type]="showPassword ? 'text' : 'password'"
           formControlName="newPassword"
           placeholder="Enter new password"
           class="password-input" />
    <span class="password-toggle" (click)="togglePasswordVisibility()">
      <i class="material-icons">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
    </span>
  </div>
  <div *ngIf="resetForm.get('newPassword')?.hasError('required')">
    Password is required
  </div>
  <input type="submit" value="Reset Password" [disabled]="resetForm.invalid" />
</form>
<div *ngIf="message" class="message">{{ message }}</div>
